* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: Arial;
  padding: 0;
  background: #F1F1F1;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
  background: #0E457D;
  flex-wrap: wrap;
}

header img {
  /* width: 30%; */
  height: 3.5rem;
}

header p {
  font-size: 25px;
  color: white;
  font-weight: 700;
}

nav {
  overflow: hidden;
  background-color: #FE4E77;
}

nav a {
  float: left;
  display: block;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background: #f1718f;
}

.card {
  background-color: #f1718f;
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card2 {
  background-color: rgba(230, 230, 230, 0.767);
  /* min-width: 50%; */
  padding: 3rem;
  border-radius: 20px;
  min-width: 20rem;
}

h1 {
  color: #FE4E77;
  margin-bottom: 20px;
}
.btn_AltTypeCadastro{
  align-self: center;
  margin: 1rem;
}
.fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.fotos img {
  height: 10rem;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 0px gray;
}

form {
  display: flex;
  flex-direction: column;
}
main{
  height: 100vh;
  background-color: #f1718f;
}
/* Container para organizar os cards em grid */
.ongs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 2 ou 3 cards por linha */
    gap: 20px; /* Espaço entre os cards */
    padding-top: 20px;
    margin: 3rem;
}

/* Estilo do Card Individual */
.ong-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #ffffff;
    display: flex; /* Para organizar o conteúdo verticalmente */
    flex-direction: column;
}

/* Estilo para as ações */
.card-actions {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
}



input,
select {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
}

button {
  color: white;
  background-color: #FE4E77;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  height: 2rem;
  cursor: pointer;
}

button:hover{
  background-color: #f1718f;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

table {
  border: black 1px solid;
}

th,
td {
  border: black 1px solid;
  padding: 10px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 20px;
  text-align: center;
  background: #0E457D;
  color: #d6d2c6;
  /* margin-top: 20px; */
}

.headertabela {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.headertabela h1{
  color: #FFF;
  padding:3rem 0 0 3rem;
}
.form_pesquisa{
  display: flex;
  flex-direction: row;
}
.form_pesquisa input{
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #F1F1F1;
}

.form_pesquisa button{
    background-color: #F1F1F1;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
    width: 3rem;
}

.btn-alterar, .btn-excluir{
  color: #f1718f;
}

@media screen and (max-width: 630px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}